body{
  font-family: Arial, Helvetica, Lucida, sans-serif;
  font-size: 25px;
  color: grey;
  text-align: center;
  background-color: #e6ffff;
}

h1{
  font-size: 150px;
  font-weight: bold;
  padding-top: 5px;
  color: #660066;
}

.photo{
  width:500px;
  border-style: none;
  padding-bottom: 100px;
  margin: auto;
}

li{
  list-style-type: none;
}

.p1{
  font-size: 75px;
  font-weight: bold;
  color: #800080
}

#mainbar{
width: 500px;
float: left;
font-size:50px;
padding-right: 50px;
}

#sidebar{
  width: 200px;
  float: right;
  text-align: right;
}

 a:link {
  display: block;
  text-decoration: none;
  color:#aa00ff;
}

 a:visited{
  text-decoration:none;
  color:#440066;
}

a:hover{
  color: #4d4dff;
}

#footbar{
clear: both;
display: block;
margin: 0 0 50px 0;
float:left;
}

#footbar li{
  float: left;
  width:275px;
}

#container{
width:750px;
margin:0 auto;
}
